# Byte-compiled Python files
*.pyc
__pycache__/

# SQLite database
db.sqlite3

# Django static files (if using collectstatic)
staticfiles/
media/

# Environment variables / secrets
.env

# Logs
*.log

# MacOS or Windows system files
.DS_Store
Thumbs.db